// Colors
$red-color: #f02d34;
$white-color: white;
$mask-color: rgba(0, 0, 0, 0.5);
$text-color-title: #324d67;
$text-color-body: #5f5f5f;
$black-color: black;
$bg-light-color: #dcdcdc;
$quantity-color: gray;
$green-color: rgb(49, 168, 49);