.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
  span {
    font-size: 16px;
    padding: 6px 12px;
    cursor: pointer;
  }
  .minus {
    border-right: 1px solid gray;
    color: $red-color;
  }
  .num {
    border-right: 1px solid gray;
    font-size: 20px;
  }
  .plus {
    color: $green-color;
  }
}